# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go docs@example.com

# not working
*.ts typescript@example.com

# Test
README.md victor.alveflo@gmail.com
